@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
}

@import 'blocks/btn';
@import 'blocks/text';
@import 'blocks/title';
@import 'blocks/subtitle';

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/network';
@import 'blocks/how';
@import 'blocks/custom';
@import 'blocks/delivery';
@import 'blocks/expand';
@import 'blocks/questions';
@import 'blocks/request';
@import 'blocks/footer';




