.expand {
  padding: 50px 0;
  &__title {
    text-align: center;
  }
  &__text {
    max-width: 510px;
    margin: 23px auto 0 auto;
    text-align: center;
    color: #212529;
  }
  &__desc {
    margin-top: 12px;
    text-align: center;
    color: #212529;
  }
  &__img {
    margin: 25px auto 0 auto;
    img {
      width: 100%;
    }
  }
}