.footer {
  padding: 50px 0 40px 0;
  &__wrapper {
    margin: 0 auto;
    padding: 40px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E5E5E5;
  }
  &__company {
    &-wrapper {
      display: flex;
      flex-direction: column;
    }
    &-text {
      max-width: 192px;
      margin-top: 11px;
      font-size: 15px;
      line-height: 22px;
      color: #A6A6A6;
    }
    &-rights {
      margin-top: 20px;
      font-size: 13px;
      line-height: 21px;
      color: #A6A6A6;
    }
  }
  &__nav {
    &-wrapper {
      display: flex;
      flex-direction: row;
    }
    &-block {
      display: flex;
      flex-direction: column;
      margin-right: 90px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-name {
      font-size: 15px;
      line-height: 19px;
      color: #A6A6A6;
    }
    &-link {
      margin-top: 9px;
      font-size: 15px;
      line-height: 22px;
      color: #000000;
      &:hover {
        color: #000000;
      }
    }
  }
}