.header {
  padding: 25px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    img {
      width: 100%;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    &__item {
      margin-right: 30px;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #000000; 
    }
  }
}