@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}






@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .title {
    font-size: 50px;
    line-height: 65px;
  }
  .promo {
    &__text {
      max-width: 600px;
    }
  }
}






@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .title {
    font-size: 42px;
    line-height: 46px;
  }
  .promo {
    &__cons {
      &-wrapper {
        flex-direction: column;
        width: 320px;
        margin: 55px auto 0 auto;
      }
      &-item {
        margin-right: 0;
      }
    }
  }
}






@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .title {
    font-size: 36px;
    line-height: 40px;
  }
  .text {
    font-size: 12px;
    line-height: 18px;
  }
  .btn {
    font-size: 12px;
    line-height: 14px;
    &_light {
      font-size: 12px;
      line-height: 14px;
    }
  }
  .menu {
    &__btn {
      display: flex;
    }
  }
  .header {
    display: none;
  }
  .promo {
    &__cons {
      &-wrapper {
        margin-top: 40px;
        width: 250px;
      }
    }
    &__text {
      max-width: 420px;
    }
    &__img {
      margin-top: 40px;
    }
  }
}