@media (max-width: 1300px) {
  .container {
    max-width: 960px;
  }
  .how {
    &__steps {
      &-wrapper {
        grid-template-columns: repeat(3, 300px);
      }
      &-img {
        img {
          // height: unset;
          max-width: 300px;
        }
      }
    }
  }
  .custom {
    &__wrapper {
      grid-template-columns: repeat(2,465px);
    }
  }
  .delivery {
    &__wrapper {
      grid-template-columns: 500px 320px;
    }
    &__item {
      &:first-child {
        padding-left: 100px;
      }
    }
  }
}






@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .title {
    font-size: 50px;
    line-height: 65px;
  }
  .promo {
    &__text {
      max-width: 600px;
    }
  }
  .how {
    &__steps {
      &-wrapper {
        grid-template-columns: repeat(2, 300px);
        row-gap: 60px;
      }
    }
  }
  .custom {
    &__wrapper {
      grid-template-columns: 600px;
      grid-template-rows: 1fr 1fr;
      row-gap: 20px;
    }
    &__title {
      margin: 0 auto;
      text-align: center;
    }
    &__text {
      margin: 23px auto 0 auto;
    }
    &__btn {
      margin: 16px auto 0 auto;
      &-wrapper {
        text-align: center;
      }
    }
  }
  .delivery {
    padding-top: 50px;
    &__title {
      max-width: 470px;
      margin: 0 auto;
      text-align: center;
    }
    &__text {
      max-width: 560px;
      margin: 23px auto 0 auto;
    }
    &__wrapper {
      grid-template-columns: 720px;
      grid-template-rows: 300px 650px;
      row-gap: 30px;
    }
    &__item {
      &:first-child {
        padding: 0 120px;
        grid-row: 2;
      }
      &:last-child {
        grid-row: 1;
      }
    }
  }
  .questions {
    &__block {
      max-width: 620px;
    }
  }
}






@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .title {
    font-size: 42px;
    line-height: 46px;
  }
  .promo {
    &__cons {
      &-wrapper {
        flex-direction: column;
        width: 320px;
        margin: 55px auto 0 auto;
      }
      &-item {
        margin-right: 0;
      }
    }
  }
  .network {
    &__img {
      margin-top: 50px;
    }
  }
  .how {
    &__steps {
      &-wrapper {
        grid-template-columns: 350px;
        row-gap: 60px;
      }
      &-title {
        margin-top: 20px;
      }
      &-img {
        img {
          width: 350px;
          height: unset;
        }
      }
    }
  }
  .custom {
    &__wrapper {
      grid-template-columns: 540px;
    }
    &__text {
      max-width: 380px;
    }
  }
  .delivery {
    &__text {
      max-width: 390px;
    }
    &__wrapper {
      grid-template-columns: 540px;
      grid-template-rows: 200px 650px;
      row-gap: 60px;
    }
    &__item {
      &:first-child {
        padding: 0 60px;
      }
    }
    &__shipping {
      &-img {
        display: none;
      }
    }
  }
  .questions {
    &__block {
      max-width: 520px;
    }
  }
}






@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .title {
    font-size: 36px;
    line-height: 40px;
  }
  .text {
    font-size: 12px;
    line-height: 18px;
  }
  .btn {
    font-size: 12px;
    line-height: 14px;
    &_light {
      font-size: 12px;
      line-height: 14px;
    }
  }
  .menu {
    &__btn {
      display: flex;
    }
  }
  .header {
    display: none;
  }
  .promo {
    &__cons {
      &-wrapper {
        margin-top: 40px;
        width: 250px;
      }
    }
    &__text {
      max-width: 420px;
    }
    &__img {
      margin-top: 40px;
    }
  }
  .how {
    &__steps {
      &-wrapper {
        margin-top: 60px;
        grid-template-columns: 300px;
        row-gap: 60px;
      }
      &-title {
        margin-top: 20px;
      }
      &-img {
        img {
          width: 300px;
          height: unset;
        }
      }
    }
  }
  .custom {
    padding-bottom: 60px;
    &__wrapper {
      grid-template-columns: 340px;
    }
    &__text {
      max-width: 300px;
    }
  }
  .delivery {
    &__text {
      max-width: 390px;
    }
    &__wrapper {
      grid-template-columns: 320px;
      grid-template-rows: 200px 680px;
      row-gap: 60px;
    }
    &__item {
      &:first-child {
        padding: 0;
      }
    }
  }
  .questions {
    &__title {
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
    }
    &__block {
      max-width: 320px;
    }
  }
}