@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .how {
    &__steps {
      &-wrapper {
        grid-template-columns: repeat(3, 300px);
      }
      &-img {
        img {
          // height: unset;
          max-width: 300px;
        }
      }
    }
  }
}






@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .title {
    font-size: 50px;
    line-height: 65px;
  }
  .promo {
    &__text {
      max-width: 600px;
    }
  }
  .how {
    &__steps {
      &-wrapper {
        grid-template-columns: repeat(2, 300px);
        row-gap: 60px;
      }
    }
  }
}






@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .title {
    font-size: 42px;
    line-height: 46px;
  }
  .promo {
    &__cons {
      &-wrapper {
        flex-direction: column;
        width: 320px;
        margin: 55px auto 0 auto;
      }
      &-item {
        margin-right: 0;
      }
    }
  }
  .network {
    &__img {
      margin-top: 50px;
    }
  }
  .how {
    &__steps {
      &-wrapper {
        grid-template-columns: 350px;
        row-gap: 60px;
      }
      &-title {
        margin-top: 20px;
      }
      &-img {
        img {
          width: 350px;
          height: unset;
        }
      }
    }
  }
}






@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .title {
    font-size: 36px;
    line-height: 40px;
  }
  .text {
    font-size: 12px;
    line-height: 18px;
  }
  .btn {
    font-size: 12px;
    line-height: 14px;
    &_light {
      font-size: 12px;
      line-height: 14px;
    }
  }
  .menu {
    &__btn {
      display: flex;
    }
  }
  .header {
    display: none;
  }
  .promo {
    &__cons {
      &-wrapper {
        margin-top: 40px;
        width: 250px;
      }
    }
    &__text {
      max-width: 420px;
    }
    &__img {
      margin-top: 40px;
    }
  }
  .how {
    &__steps {
      &-wrapper {
        margin-top: 60px;
        grid-template-columns: 300px;
        row-gap: 60px;
      }
      &-title {
        margin-top: 20px;
      }
      &-img {
        img {
          width: 300px;
          height: unset;
        }
      }
    }
  }
}