.questions {
  padding: 50px 0 45px 0;
  &__title {
    text-align: center;
  }
  &__wrapper {
    margin-top: 55px;
  }
  &__block {
    margin: 0 auto;
    padding: 10px 5px 20px 5px;
    width: 700px;
    border-bottom: 1px solid #000000;
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      &_active {
        .questions__block-tick {
          transform: rotate(180deg);
        }
      }
    }
    &-name {
      font-size: 20px;
      line-height: 30px;
      color: #000000;
    }
    &-tick {
      transition: all 0.6s;
    }
    &-desc {
      transition: all 0.6s;
      // display: none;
      max-height: 0;
      margin-top: 10px;
      overflow: hidden;
    }
  }

}